h1 {
    background-color: aqua;
    color: brown;
}

table {

    border-color: rgb(221, 17, 17)
}
h2{
    color: red;
    border-radius: 3cm;
    background-color: burlywood;
    font-size: 500%;
}
